.head1-container {
  width: 100%;
  height: 424px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: center;
}
.head1-max-width {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.head1-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-self: stretch;
  align-items: stretch;
  border-radius: var(--dl-radius-radius-radius4);
  background-size: cover;
  justify-content: center;
  background-image: url("https://images.unsplash.com/photo-1509114397022-ed747cca3f65?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDE1fHxzdGFyeSUyMHNreXxlbnwwfHx8fDE3MjAyNjg4MTZ8MA&ixlib=rb-4.0.3&w=1400");
  background-position: center;
}
.head1-text {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-light);
  align-self: center;
  text-align: center;
  text-transform: uppercase;
}

