.head2-container {
  width: 100%;
  height: 384px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: center;
}
.head2-max-width {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.head2-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: stretch;
  background-size: cover;
  justify-content: center;
  background-image: url("https://images.unsplash.com/photo-1512428197675-daae5d4e1e43?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDI3fHxhYm91dCUyMHVzfGVufDB8fHx8MTcyMDI2OTMzM3ww&ixlib=rb-4.0.3&w=1400");
  background-position: center;
}
.head2-text {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
  align-self: center;
  text-align: center;
  text-transform: uppercase;
}

